.title-container {
	text-align: center;
	width: 330px;
	background: lightgray;
	margin: auto;

}

.title {
	font-size: 10em;
}

.subtitle {
	font-size: 3.5em;
	margin-bottom: 20px;
}

ul {
	-moz-column-width:150px;
	-webkit-column-width:150px;
	-moz-column-gap: 20px;
	-webkit-column-gap: 20px;
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
}